.form-table th, .form-table td {
	vertical-align: top;
	padding: 15px 10px 15px 0;
}

input[type="text"], textarea {
	min-width: 280px;
	width: 99%;
}

textarea {
	font-size: 12px;
}

code {
	font-size: 12px;
}
