h3 {
	margin: 2em 0 0.5em;
}
h4 {
	margin: 1em 0 0.5em;
}

h5 {
	margin: 0.8em 0 0.4em;
}

.help-content {
	padding: 0 10px;
}

.atts-section-title {
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}

a.donate img {
	margin: 3px;
}

.atts-table {
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 95%;
}
.atts-table th {
	border: 1px solid #aaa;
	padding: 3px 4px !important;
	background: #eeeeee;
}
.atts-table td {
	border: 1px solid #aaa;
	padding: 2px 5px !important;
	vertical-align: top;
}

.atts-table-name {
	width: 110px;
}

.atts-table-options {
	width: 110px;
}

.atts-table-default {
	width: 110px;
}

.atts-table h5 {
	margin-top: 0.5em;
	margin-bottom: 0.1em;
}

